/* Custom CSS */
@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

body {
    font-family: 'Poppins';
}

.radio label {
    display: inline-block;
    vertical-align: middle;
}